@charset "UTF-8";

:root {
    --vinho: #3C140C;
    --darkcoffe: #28160C;
    --mediumcoffe: #432614;
    --ligthcoffe: #DAA466;
    --branco: #DBCFC1;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
    color: var(--darkcoffe);
    text-align: center;
    font-size: 2.5em;
    margin: 30px;
    font-family: 'Bebas Neue';
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    padding: 12px;
    justify-items: center;
    overflow: visible;
}

.produto a {
    text-decoration: none;
    color: inherit;
}

.produto {
    width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto:hover {
    transform: scale(1.07);
    z-index: 10;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}


.card {
    width: 400px;
    height: 270px;
    background-color: #DBCFC1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid var(--darkcoffe);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nome {
    width: 400px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #28160C;
    border-top: none;
}

.nome > h2 {
    color: var(--darkcoffe);
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

#hcaf {
    margin-top: 70px;
}
